* {
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


a:hover {
	color: white;
}

/*=================Navbar=========================*/

.bg-red {
	color: #fff;
  	/*background-color: #f57f17 !important;*/
  	background-color: #b71c1c !important;
}

.text-red {
	color: #b71c1c;
}

.navbar.bg-red .navbar-toggler .icon-bar {
	background-color: #fff !important;
}

/*=================EndNavbar=========================*/

/*=================SideBar=========================*/

.sidebar {
	/*height: calc(100vh - 70px);
	top: 70px;*/
}

.sidebar .user-info {
    padding: 13px 15px 12px 15px;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #4e5769;
    background: url("../img/bg-info.jpg") no-repeat no-repeat;
    height: 70px; }
    .sidebar .user-info .image {
      margin-right: 12px;
      display: inline-flex; }
      .sidebar .user-info .image img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        vertical-align: bottom !important; }
    .sidebar .user-info .info-container {
      cursor: default;
      display: inline-block;
      position: relative;
      top: 0px; }
      .sidebar .user-info .info-container .name {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        max-width: 200px;
        color: #fff; }
      .sidebar .user-info .info-container .email {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
        max-width: 200px;
        color: #fff; }
      .sidebar .user-info .info-container .user-helper-dropdown {
        position: absolute;
        right: -25px;
        bottom: -12px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        cursor: pointer;
        color: #fff; }

      .sidebar .legal {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: 1px solid #eee;
      padding: 15px;
      overflow: hidden; }
      .sidebar .legal .copyright {
        font-size: 13px;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden; }
        .sidebar .legal .copyright a {
          font-weight: bold;
          text-decoration: none; }
      .sidebar .legal .version {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 5px;
          font-size: 13px; }

      .sidebar .nav .header {
        background: #eee;
        font-size: 12px;
        font-weight: 600;
        padding: 8px 16px;

      }

.sidebar[data-background-color="navy-blue"] .nav .nav-item .nav-link {
  color: #384750;
}

.sidebar[data-background-color="navy-blue"] .nav .nav-item i {
  color: #384750;
}

.sidebar[data-background-color="navy-blue"] .nav .nav-item.active [data-toggle="collapse"],
.sidebar[data-background-color="navy-blue"] .nav .nav-item:hover [data-toggle="collapse"] {
  color: #384750;
}

.sidebar[data-background-color="navy-blue"] .nav .nav-item.active [data-toggle="collapse"] i,
.sidebar[data-background-color="navy-blue"] .nav .nav-item:hover [data-toggle="collapse"] i {
  color: #384750;
}

.sidebar[data-background-color="navy-blue"] .user a {
  color: #384750;
}

.sidebar[data-background-color="navy-blue"] .simple-text {
  color: #384750;
}

.sidebar[data-background-color="navy-blue"] .sidebar-background:after {
  background: #fff;
}

.sidebar[data-background-color="navy-blue"] .nav li .dropdown-menu .dropdown-item {
  color: #384750;
}


.sidebar[data-color="blue"] li.on>a{
  	border-left:  5px solid #b71c1c;
    background-color: #f3f3f3;
  	border-radius: 0px;
	  box-shadow: -139px 11px 97px -35px rgba(137, 21, 21, 0.44);
}
.sidebar[data-color="blue"] li.on>a i{
  color: #b71c1c !important ;
}

.sidebar-main{
	position: fixed;
	width: 260px;
	height: 100%;
	background: #fff;
	padding: 30px 0;
}

.sidebar-main .sidebar-title {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;

}

/*=================EndSideBar=========================*/

.sidebar-main .menu li .menu-link {
	color: #fff;
	display: block;
}

.sidebar-main .menu li .menu-link .fa {
	width: 40px;
	font-size: 20px;
}

.sidebar .nav li:hover > a, .sidebar .nav li .dropdown-menu a:hover, .sidebar .nav li .dropdown-menu a:focus, .sidebar .nav li.active > [data-toggle="collapse"] {
    background-color: rgba(200, 200, 200, 0.2);
  	border-left:  5px solid #b71c1c;
  	border-radius: 0px;
}