* {
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


a:hover {
	color: white;
}

.bg-red {
	color: #fff;
  	/*background-color: #f57f17 !important;*/
  	background-color: #d84315 !important;
}

.navbar-brand.logo-icon {
	padding: 0px;
}

.sidebar[data-background-color="black"] .sidebar-background:after {
  background: #273248;
}


a{
	color: ;
}

.sidebar[data-color="blue"] li.on>a {
  	border-left:  5px solid #d84315;
  	color: #d84315 ;
  	border-radius: 0px;
	box-shadow: -139px 11px 97px -35px rgba(216,67,21,0.68);
}

.sidebar-main{
	position: fixed;
	width: 260px;
	height: 100%;
	background: #273248;
	padding: 30px 0;
}

.sidebar-main .sidebar-title {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;

}



.sidebar-main .menu li .menu-link {
	color: #fff;
	display: block;
}

.sidebar-main .menu li .menu-link .fa {
	width: 40px;
	font-size: 20px;
}

.sidebar .nav li:hover > a, .sidebar .nav li .dropdown-menu a:hover, .sidebar .nav li .dropdown-menu a:focus, .sidebar .nav li.active > [data-toggle="collapse"] {
    background-color: rgba(200, 200, 200, 0.2);
  	border-left:  5px solid #d84315;
  	border-radius: 0px;
}